<div>
    <div class="normal-container">
        <div class="navbar row-layout">
            <div>
                {%if permissao.can_view_dados%}
                <a href="#" id="cubo-page-data">Dados</a>
                {%endif%}

                {%if permissao.can_view_contratos%}
                <a href="#" id="contratos-page">Contratos</a>
                {%endif%}

                {%if permissao.can_view_categorias%}
                <a href="#" id="categorias-page">Categorias</a>
                {%endif%}
                
                {%if permissao.can_view_tipo_processo%}
                <a href="#" id="tipo-processo-page">Tipo Processo</a>
                {%endif%}
                
                {%if permissao.can_view_perfis%}
                <a href="#" id="perfil-page">Perfis</a>
                {%endif%}
                
                {%if permissao.can_view_users%}
                <a href="#" id="usuarios-page">Usuarios</a>
                {%endif%}
                
            </div>
        </div>
        
        <div id="content-cubo">

        </div>
    </div>
    <script>
        // Mapeamento dos IDs dos links para suas URLs
        var menuLinks = {
            "#cubo-page-data": "/cubo_menu",
            "#contratos-page": "/contrato_menu",
            "#categorias-page": "/categorias_menu",
            "#tipo-processo-page": "/tipo_processo_menu",
            "#perfil-page": "/perfil_menu",
            "#usuarios-page": "/users_menu"
        };

        // Função genérica para carregar conteúdo
        function carregarConteudo(id, url) {
            $(id).click(function(e) {
                e.preventDefault();
                fetch(url).then(data => {
                    data.text().then(text => {
                        $("#content-cubo").html(text);
                    });
                });
            });
        }
        
        // Aplicar a função para cada link do menu
        Object.entries(menuLinks).forEach(([id, url]) => {
            carregarConteudo(id, url);
        });
        
        // Destaque visual do link ativo
        $('a').on('click', function(event) {
            console.log("Link clicked: " + $(this).text());
            $('a').css('background-color', '');
            $(this).css('background-color', '#053a72');
        });
    </script>
</div>
