<div class="col-layout container empresas-box-docs">
    <div class="row-layout">
        <div class="flex-center key-box">
            <div class="key-box row-layout">
                <form id="form_dados" name="form_dados">
                    <div class="row-layout">
                        <input type="text" id="nome" name="nome" placeholder="Nome do funcionário">
                        <input type="text" id="funcao" name="funcao" placeholder="Função">
                        <input type="text" id="cargo" name="cargo" placeholder="Cargo">
                        <input type="text" id="setor" name="setor" placeholder="Setor">
                        
                        <select name="status" id="status" required>
                            <option value="ativo">
                                ativo
                            </option>
                            <option value="inativo">
                                inativo
                            </option>
                        </select>
                        
                        <select name="empresa_id" id="empresa_id" required placeholder="Empresa">
                            <option value="">Empresa</option>
                            <option value="{{empresa._id}}">{{empresa.nome}}</option>

                            {%for empresa in empresas_sub%}
                                <option value="{{empresa._id}}">{{empresa.nome}}</option>
                            {%endfor%}
                        </select>
                        
                        <input type="hidden" id="tipo" name="tipo" value="status">
                        <input type="hidden" id="_id" name="_id">
                    </div>
                </form>

                <div class="row-layout">
                    <button class="button" id="salvar" name="salvar">
                        salvar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="key-box empresas-box">
        <div class="key-box row-layout data-names">
            <div class="row-layout">
                <input type="text" value="NOME:" disabled>
                <input type="text" value="FUNÇÃO:" disabled>
                <input type="text" value="CARGO:" disabled>
                <input type="text" value="SETOR:" disabled>
                <input type="text" value="STATUS:" disabled>
                <input type="text" value="EMPRESA:" disabled>   
            </div>
            
            <div class="row-layout">
            </div>
        </div>

        <div id="funcionarios-list-content">
        </div>
    </div>
</div>

<script>
//Carrega a lista de funcionários
fetch("/list_funcionarios").then(data => {
    data.text().then(text => {
        setTimeout(() => {$("#funcionarios-list-content").html(text)}, 100);
    })
})

$("#content").on("keypress", (e) => {
    if(e.which == 13) {
        const url = "/list_funcionarios/" + $("#content").val();

        fetch(url).then(data => {
            data.text().then(text => {
                setTimeout(() => {
                    $("#funcionarios-list-content").html(text)
                }, 100);
            })
        })
    }
})

$("#salvar").click(() => {
    let nome = $("#nome").val();
    let funcao = $("#funcao").val();
    let cargo = $("#cargo").val();
    let setor = $("#setor").val();

    let empresa_id = $("#empresa_id").val();

    if(!nome || !funcao || !cargo || !setor || !empresa_id) {
        showCustomAlert("Favor preencher todos os campos!")
    } else {
        let formData = $("#form_dados").serialize();
        formData["_id"] = $("#_id").val();
        
        $.ajax({
            type: "POST",
            url: "create_funcionario",
            data: formData,
            success: function(response) {
                let val = $("#content").val();
                let url = `/list_funcionarios/${val}`
                
                fetch(url).then(data => {
                    data.text().then(text => {
                        setTimeout(() => {
                            $("#funcionarios-list-content").html(text)
                        }, 100)
                    })
                })
                
                showCustomAlert("Cadastrado com sucesso!")
                
                //Remove marcador de alteração 
                $("#form_dados").removeClass("ball");

                //Clear form
                $("#nome").val("");
                $("#funcao").val("");
                $("#cargo").val("");
                $("#setor").val("");
                $("#empresa_id").val("");
                $("#_id").val("");
            },

            //Caso ocorra erro na requisição
            error: function(error) {
                showCustomAlert("Erro ao cadastrar funcionário: " + error)
            }
        });  
    }
})

</script>
