<div class="container" style="height: auto;">
    <div class="flex-center">
        <div class="key-box row-layout">
            <div class="row-layout" id="form_dados">
                <input type="text" id="nome" name="nome" placeholder="Nome da empresa...">
                <input type="text" id="key" name="key" placeholder="Chave - 6 char" disabled>
                <input type="text" id="cnpj" name="cnpj" placeholder="CNPJ - 14 char" maxlength="18" oninput="this.value = this.value.replace(/\D/g, '').replace(/(\d{2})(\d)/, '$1.$2').replace(/(\d{3})(\d)/, '$1.$2').replace(/(\d{3})(\d)/, '$1/$2').replace(/(\d{4})(\d)/, '$1-$2').substring(0, 18);">
                
                <select name="departamento" id="departamento">
                    <option value="RH">
                        RH
                    </option>
                    <option value="COMPRAS">
                        COMPRAS
                    </option>
                    <option value="SEGURANÇA">
                        SEGURANÇA
                    </option>
                </select>

                <select name="status" id="status">
                    <option value="ATIVA" selected>
                        Ativa
                    </option>
                    <option value="INATIVA">
                        Inativa
                    </option>
                </select>
                
                <input type="hidden" id="_id" name="_id">
            </div>
            
            <div class="row-layout">
                <button class="button" id="gen" name="gen">
                    gerar chave
                </button>
                <button class="button" id="salvar" name="salvar">
                    salvar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container empresas-box">
    <div id="emp-box">
        
    </div>
</div>

<script>
//Carrega a lista de empresas
fetch("/list_empresas").then(data => {
        data.text().then(text => {
        setTimeout(() => {$("#emp-box").html(text)}, 100);
                
        })
    })

// Filter functionality removed
$("#gen").click(() => {
    fetch("/gen_key").then(data => {
        data.text().then(text => {
            $("#key").val(text)
        })
    })
})

// Enhanced input validation
$("#salvar").click(() => {
    let nome = $("#nome").val().trim();
    let chave = $("#key").val().trim();
    let cnpj = $("#cnpj").val().replace(/\D/g, '');
    let dep = $("#departamento").val();
    let status = $("#status").val();
    
    if (!nome || !chave || !cnpj || cnpj.length !== 14 ) {
        showCustomAlert("Por favor, preencha todos os campos corretamente.");
        return;
    }

    let url = `/create_empresa/${encodeURIComponent(nome)}/${encodeURIComponent(chave)}/${encodeURIComponent(cnpj)}/${encodeURIComponent(dep)}/${encodeURIComponent(status)}/${$("#_id").val()}`;

    if ($("#_id").val() && status === "INATIVA") {
        let userConfirm = confirm("Você tem certeza que deseja inativar esta empresa? Todos os documentos serão movidos para a pasta INATIVA.");
        if (!userConfirm) {
            return;
        }
    }

    fetch(url, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
        }
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Erro ao realizar cadastro.');
        }
        return response.text();
    })
    .then(text => {
        if (text.includes("ok")) {
            showCustomAlert("Cadastro/Alteração efetuado com sucesso.");
            $("#form_dados").removeClass("ball");
        } else {
            showCustomAlert("Erro ao realizar cadastro: " + text);
        }
    })
    .catch(error => {
        console.error(error);
        showCustomAlert("Erro ao realizar cadastro: " + error.message);
    })
    .finally(() => {
        fetch("/list_empresas")
            .then(data => data.text())
            .then(text => {
                setTimeout(() => { $("#emp-box").html(text); }, 100);
                // Reset fields after saving
                ["_id", "key", "nome", "cnpj"].forEach(id => $("#"+id).val(""));
                $("#departamento").val("");
                $("#status").val("");
            });
    });
});

</script>