<div class="container row-layout" style="height: 98%;margin-left: 0; margin-right: 0;">
    <div class="area-empresas row-layout" style="width: 10%;">
        <div id="empresas">
            <div class="list-container col-layout" id="box-empresas">

            </div>
        </div>
    </div>

    <div class="container empresas-box-docs " style="height: auto;min-width: 62rem;">
        <div class="flex-center data-names">
            <div class="key-box row-layout">
                <div class="row-layout flex-center">
                    <input type="text" value="TITULO:" class="key-input" disabled>
                    <input type="text" value="CONTRATO:" class="key-input" disabled>
                    <input type="text" value="CATEGORIA:" class="key-input" disabled>
                    <input type="text" value="OBS:" class="key-input" disabled>
                    <input type="text" value="DATA:" class="key-input" disabled>
                    <input type="text" value="ANEXO:" class="key-input" disabled>
                    <input type="text" value="STATUS:" class="key-input" disabled>
                </div>
            </div>
        </div>
        
        <div id="box-docs">
            
        </div>
    </div>

    <input type="hidden" name="selected" id="selected">
</div>

<script>
    fetch("/filter_prestadoras").then((data) => {
        data.text().then(text => {
            $("#box-empresas").html(text)
        })
    })

    
    $("#content").on("input", () => {
        const url = "/filter_prestadoras/" + $("#content").val();
        
        fetch(url).then((data) => {
        data.text().then(text => {
            $("#box-empresas").html(text)

            let content = encodeURIComponent($("#content").val());
            let url = "";

            let sel = $("#selected").val();

            if(sel) {
                if (!content) {
                    url = `/filter_docs/${sel}`;
                } else {
                    url = `/filter_docs/${sel}/${content}`;
                }
                
                fetch(url).then(data => {
                    data.text().then(text => {
                        setTimeout(() => {
                            $("#box-docs").html(text);
                        }, 100)
                    });
                });
            }

        })
    })
    })
</script>
