{%for categoria in categorias%}
<div class="col-layout">
    <div class="key-box row-layout">
        <div class="row-layout">
            <input type="text" id="nome" value="{{categoria.nome}}" disabled>
            <input type="text" id="tipo_processo" value="{{categoria.tipo_de_processo_nome}}" disabled>
            <input type="text" id="tipo_processo" value="{{categoria.documentos_pedidos}}" disabled>
        </div>

        <div class="row-layout">
            {%if permissao.can_edit_categorias%}
            <button class="button" id="alterar-{{categoria._id}}" name="alterar">
                alterar
            </button>
            {%endif%}

            {%if permissao.can_delete_categorias%}
            <button class="button" id="excluir-{{categoria._id}}" name="excluir">
                excluir
            </button>
            {%endif%}
        </div>
    </div>
</div>

<script>
    $("#alterar-{{categoria._id}}").click(() => {
        $("#nome").val("{{categoria.nome}}");

        //Adiciona sinal visual da alteração no menu
        $("#form_dados").addClass("ball");

        //Muda o id do categoria para realizar a alteração no item certo
        $("#_id").val("{{categoria._id}}");
    })

    $("#excluir-{{categoria._id}}").click(() => {
        let url = "/delete_categoria/" + "{{categoria._id}}";
        
        fetch(url).then(data => {
            data.text().then(text => {
                if (text.includes("ok"))
                {
                    showCustomAlert("Cadastro excluido com sucesso.");                
                } else {
                    showCustomAlert("Erro ao realizar exclusão: " + text);
                }
            })
        }).then(() => {
            let val = $("#content").val();
            let url = `/list_categorias/${val}`

            fetch(url).then(data => {
                data.text().then(text => {
                
                setTimeout(() => {$("#categoria-list-content").html(text)}, 100)
                })
            })
        })
    })
</script>
{%endfor%}
