<div style="height: auto;">
    <!-- Add Google API script once at the top of your template (outside the loop) -->
    <script src="https://apis.google.com/js/api.js"></script>

    {%for emp in docs_emp%}
    {%for doc in emp[1]%}

    <div class="flex-center">
        <div class="key-box row-layout">
            <div class="row-layout flex-center">
                <input type="text" id="versao" name="versao" value="{{doc.versao}}" class="key-input" disabled>
                <input type="text" id="titulo" name="titulo" value="{{doc.titulo}}" class="key-input" disabled>
                <input type="text" id="contrato" name="contrato" value="{{doc.contrato_nome}}" class="key-input" disabled>
                <input type="text" id="categoria" name="categoria" value="{{doc.categoria_nome}}" class="key-input" disabled>
                
                <input type="text" id="data" name="data" value="{{doc.data}}" class="key-input" disabled>
                <input type="text" id="pasta" name="pasta" value="{{doc.pasta}}" class="key-input" disabled>

                
                <div id="status{{doc._id}}" class="status-btn">
                    {%if doc.status == "CORRIGIDO" %}
                    <input style="background-color: darkblue; color: white;cursor: default;" type="text" id="status" name="status" value="CORRIGIDO - AGUARDANDO ANALISE" class="key-input" readonly>
                    {% elif doc.status == "APROVADO" %}
                    <input style="background-color: darkgreen; color: white;cursor: default;" type="text" id="status" name="status" value="{{ doc.status }}" class="key-input" readonly>
                    {% elif doc.status == "AGUARDANDO" %}
                    <input style="background-color: darkgray; color: white; cursor: default;" type="text" id="status{{doc._id}}" name="status" value="{{ doc.status }}" class="key-input" readonly>
                    {% elif doc.status == "NAO APROVADO" %}
                    <input style="background-color: darkred; color: white;cursor: default;" type="text" id="status" name="status" value="{{ doc.status }}" class="key-input" readonly>
                    {% endif %}
                </div>

                {%if doc.uploaded%}
                    <input type="text" id="upload" name="upload" value="COMPLETO" class="key-input" disabled>
                {%else%}
                    <input type="text" id="upload" name="upload" value="PENDENTE" class="key-input" disabled style="background-color: red;color: white;">
                {%endif%}

                {%if not hist %}    
                    <button id="historico{{doc._id}}" name="historico{{doc._id}}" class="button">
                        HISTORICO
                    </button>
                {%endif%}

                {%if permissao.can_delete_docs%}
                <button id="delete{{doc._id}}" name="delete{{doc._id}}" class="button">
                    DELETAR
                </button>
                {%endif%}
            </div>
        </div>
    </div>
    
    <!-- Modal Structure -->
<div id="approvalModal{{doc._id}}" class="modal" style="display: none;">
    <div class="modal-content">
        <div class="close-btn-container">
            <span class="close-btn" id="closeModal{{doc._id}}">&times;</span>
        </div>
        <h2>Aprovações  - {{doc.titulo}}</h2>
            <div class="flex-center data-names">
                <div class="key-box row-layout">
                    <div class="row-layout flex-center">
                        <input type="text" value="PERFIL:" class="key-input" disabled>
                        <input type="text" value="STATUS:" class="key-input" disabled>
                        <input type="text" value="ULTIMA ATUALIZAÇÃO:" class="key-input" style="min-width: 10rem;" disabled>
                        <input type="text" value="OBSERVAÇÃO:" class="key-input" style="min-width: 16rem;" disabled>
                    </div>
                </div>
            </div>

            {% for aprovacao in doc.aprovacoes %}
                <div class="key-box row-layout">
                    <div class="row-layout flex-center">
                        <input type="text" id="perfil" name="perfil" value="{{aprovacao.perfil_nome}}" class="key-input" disabled>
                        
                        <div id="status-apr{{aprovacao._id}}" class="status-btn">
                            {%if aprovacao.status == "AGUARDANDO"%}
                            <input style="background-color: darkgray; color: white; cursor: default;" type="text" id="status" name="status" value="{{aprovacao.status}}" class="key-input" disabled>
                            {% elif aprovacao.status == "APROVADO" %}
                            <input style="background-color: darkgreen; color: white;cursor: default;" type="text" id="status" name="status" value="{{aprovacao.status}}" class="key-input" disabled>
                            {% elif aprovacao.status == "NAO APROVADO" %}
                            <input style="background-color: darkred; color: white;cursor: default;" type="text" id="status" name="status" value="{{aprovacao.status}}" class="key-input" disabled>
                            {% endif %}
                        </div>
                        
                        <input type="text" id="data" name="data" value="{{aprovacao.data}}" style="min-width: 10rem;" class="key-input" disabled>
                        
                        {% if session["perfil"] in aprovacao.perfil_nome and aprovacao.status == "AGUARDANDO"%}
                            <input type="text" id="obs{{aprovacao._id}}" name="obs" value="{{aprovacao.obs}}" style="min-width: 16rem;" class="key-input">
                        {%else%}
                            <input type="text" id="obs{{aprovacao._id}}" name="obs" value="{{aprovacao.obs}}" style="min-width: 16rem;" class="key-input" disabled>
                        {%endif%}

                        {% if aprovacao.status == "AGUARDANDO" %}

                            {% if session["perfil"] in aprovacao.perfil_nome%}
                                <button id="aprovar{{aprovacao._id}}" name="aprovar" class="button">
                                    APROVAR
                                </button>
                                <button id="reprovar{{aprovacao._id}}" name="reprovar" class="button">
                                    NÃO APROVAR
                                </button>
                            {% endif %}
                        {% endif %}
                    </div>
                    <script>
                        $("#obs{{aprovacao._id}}").click(() => {
                            $("#obs{{aprovacao._id}}").css("background-color", "white");
                        })

                            $("#aprovar{{aprovacao._id}}").click(() => {
                                let obs = $("#obs{{aprovacao._id}}").val();
                                let url = "/update_status/{{aprovacao._id}}/" + "APROVADO" + "/" + obs;

                                    fetch(url).then(data => {
                                        data.text().then(text => {
                                            if (text.includes("ok"))
                                            {
                                                showCustomAlert("Operação realizada com sucesso.");                
                                            } else {
                                                showCustomAlert("Erro ao realizar aprovação: " + text);
                                            }
                                        })
                                    }).then(() => {
                                    //change color to green
                                    $("#status-apr{{aprovacao._id}}").html('<input style="background-color: darkgreen; color: white;cursor: default;" type="text" id="status" name="status" value="APROVADO" class="key-input" disabled>');
                                    $("#status{{doc._id}}").html('<input style="background-color: darkgreen; color: white;cursor: default;" type="text" id="status" name="status" value="APROVADO" class="key-input" readonly>');
                                    $("#obs{{aprovacao._id}}").attr("disabled", true);
                                    })
                                })
                            
                            $("#reprovar{{aprovacao._id}}").click(() => {
                                let obs = $("#obs{{aprovacao._id}}").val();

                                console.log(obs);
                                
                                if (obs == "") {
                                    showCustomAlert("Preencha o campo de observação.");
                                    // set background color to red
                                    $("#obs{{aprovacao._id}}").css("background-color", "red");
                                    return;
                                }

                                let url = "/update_status/{{aprovacao._id}}/" + "NAO APROVADO" + "/" + obs;

                                    fetch(url).then(data => {
                                        data.text().then(text => {
                                            if (text.includes("ok"))
                                            {
                                                showCustomAlert("Operação realizada com sucesso.");                
                                            } else {
                                                showCustomAlert("Erro ao realizar aprovação: " + text);
                                            }
                                        })
                                    }).then(() => {
                                    //change color to red
                                    $("#status-apr{{aprovacao._id}}").html('<input style="background-color: darkred; color: white;cursor: default;" type="text" id="status" name="status" value="NAO APROVADO" class="key-input" disabled>');
                                    $("#status{{doc._id}}").html('<input style="background-color: darkred; color: white;cursor: default;" type="text" id="status" name="status" value="NAO APROVADO" class="key-input" readonly>');
                                    
                                    $("#obs{{aprovacao._id}}").attr("disabled", true);
                                    })
                                })
                    </script>
                </div>
            {% endfor %}
            <div>
                {% for anexo in doc.anexos%}
                <!-- Show anexos in pdf view on page scroll -->
                <div class="key-box row-layout">
                    <a href="{{anexo.link}}">{{anexo.filename}}</a>
                </div>
                {%endfor%}
            </div>
    </div>
</div>

<script>
        $("#status{{doc._id}}").on('click','.key-input',() => {
            const modal = document.getElementById("approvalModal{{doc._id}}");
            modal.style.display = "flex";
        });

        $("#historico{{doc._id}}").click(() => {
            let url =  `/filter_docs/{{doc.empresa_id}}/hist,{{doc.titulo}}`;

            console.log(url);

            fetch(url).then(data => {
                data.text().then(text => {
                    $("#box-docs").html(text)

                    $("#upload").val('HISTORICO - {{doc.titulo}}');
                })
            })
        })

        // Close modal when X button is clicked
        document.getElementById("closeModal{{doc._id}}").addEventListener("click", () => {
            document.getElementById("approvalModal{{doc._id}}").style.display = "none";
        });

        // Close modal when clicking outside the modal content
        window.addEventListener("click", (event) => {
            const modal = document.getElementById("approvalModal{{doc._id}}");
            if (event.target === modal) {
                modal.style.display = "none";
            }
        });

        $("#delete{{doc._id}}").click(() => {
        let url = "/exclui_documento/" + "{{doc._id}}";
        
        fetch(url).then(data => {
                data.text().then(text => {
                    if (text.includes("ok"))
                    {
                        showCustomAlert("Cadastro excluido com sucesso.");                
                    } else {
                        showCustomAlert("Erro ao realizar exclusão: " + text);
                    }
                })
            }).then(() => {
                let content = encodeURIComponent($("#content").val());
                let url = "";

                let sel = $("#selected").val();

                if(sel) {
                    if (!content) {
                        url = `/filter_docs/${sel}`;
                    } else {
                        url = `/filter_docs/${sel}/${content}`;
                    }
                    
                    fetch(url).then(data => {
                        data.text().then(text => {
                            setTimeout(() => {
                                $("#box-docs").html(text);
                            }, 100)
                        });
                    });
                }
            })
        })
    </script>
    {%endfor%}
    {%endfor%}
</div>
