{%for perfil in perfis%}
<div class="flex-center col-layout">
    <div class="key-box row-layout">

        <form action="" id="data-perms-{{perfil._id}}">
            <div class="row-layout">
                
                <!-- DADOS -->
                <div id="perms" class="col-layout">
                    <input class="perfil-input-b" type="text" name="nome" value="{{perfil.nome}}" disabled>
                    
                    <input type="hidden" name="nome" value="{{perfil.nome}}">
                    <input class="perfil-input-b" type="text" name="" id="" disabled value="EDITAR:">
                    <input class="perfil-input-b" type="text" name="" id="" disabled value="DELETAR:">
                    <input class="perfil-input-b" type="text" name="" id="" disabled value="VER:">
                    <input class="perfil-input-b" type="text" name="" id="" disabled value="CRIAR:">
                </div>
    
                <div id="perms-dados" class="col-layout">
                    <input class="perfil-input-b" type="text" id="dados" name="dados" value="dados" disabled>
                    <div class="col-layout">
                        
                        <select class="perfil-input" name="edit-dados" id="dados" required placeholder="">
                            {%if perfil.can_edit_dados%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
    
                    <div class="col-layout">
                        
                        <select class="perfil-input" name="delete-dados" id="dados" required placeholder="">
                            {%if perfil.can_delete_dados%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
                    
                    <div class="col-layout">
        
                        <select class="perfil-input" name="view-dados" id="dados" required placeholder="">
                            {%if perfil.can_view_dados%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
    
                    <div class="col-layout">
                
                        <select class="perfil-input" name="criar-dados" id="dados" required placeholder="">
                            {%if perfil.can_create_dados%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
                </div>
                

                <div id="perms-tipo-processo" class="col-layout">
                    <input class="perfil-input-b" type="text" id="tipo-processo" name="tipo-processo" value="tipo processo" disabled>
                    <div class="col-layout">
                        
                        <select class="perfil-input" name="edit-tipo-processo" id="tipo-processo" required placeholder="">
                            {%if perfil.can_edit_tipo_processo%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
    
                    <div class="col-layout">
                        
                        <select class="perfil-input" name="delete-tipo-processo" id="tipo-processo" required placeholder="">
                            {%if perfil.can_delete_tipo_processo%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
                    
                    <div class="col-layout">
        
                        <select class="perfil-input" name="view-tipo-processo" id="tipo-processo" required placeholder="">
                            {%if perfil.can_view_tipo_processo%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
    
                    <div class="col-layout">
                
                        <select class="perfil-input" name="criar-tipo-processo" id="tipo-processo" required placeholder="">
                            {%if perfil.can_create_tipo_processo%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
                </div>
    
                <!-- CONTRATO -->
                <div id="perms-contrato" class="col-layout">
                    <input class="perfil-input-b" type="text" id="contrato" name="contrato" value="contrato" disabled>
    
                    <div class="col-layout">
                        
                        <select class="perfil-input" name="edit-contrato" id="contrato" required placeholder="">
                            {%if perfil.can_edit_contratos%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
    
    
                    <div class="col-layout">
                            
                        <select class="perfil-input" name="delete-contrato" id="contrato" required placeholder="">
                            {%if perfil.can_delete_contratos%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
    
    
                    <div class="col-layout">
            
                        <select class="perfil-input" name="view-contrato" id="contrato" required placeholder="">
                            {%if perfil.can_view_contratos%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
    
                    <div class="col-layout">
                
                        <select class="perfil-input" name="criar-contrato" id="contrato" required placeholder="">
                            {%if perfil.can_create_contratos%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
    
    
    
                </div>
    
    
                <!-- CATEGORIA -->
                <div id="perms-categoria" class="col-layout">
                    <input class="perfil-input-b" type="text" id="categoria" name="categoria" value="categoria" disabled>
                    
                    <div class="col-layout">
                        
                        <select class="perfil-input" name="edit-categoria" id="categoria" required placeholder="">
                            {%if perfil.can_edit_categorias%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
    
                    <div class="col-layout">
                            
                        <select class="perfil-input" name="delete-categoria" id="categoria" required placeholder="">
                            {%if perfil.can_delete_categorias%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
    
    
                    <div class="col-layout">
            
                        <select class="perfil-input" name="view-categoria" id="categoria" required placeholder="">
                            {%if perfil.can_view_categorias%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
    
                    <div class="col-layout">
                    
                        <select class="perfil-input" name="criar-categoria" id="categoria" required placeholder="">
                            {%if perfil.can_create_categorias%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
    
    
    
    
    
                </div>
    
                <!-- DOCUMENTOS -->
                <div id="perms-docs" class="col-layout">
                    <input class="perfil-input-b" type="text" id="docs" name="docs" value="documentos" disabled>
                    
                    <div class="col-layout">
                            
                        <select class="perfil-input" name="aprove_docs" id="docs" required placeholder="">
                            {%if perfil.can_aprove_docs%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
    
    
                    <div class="col-layout">
                            
                        <select class="perfil-input" name="delete-docs" id="docs" required placeholder="">
                            {%if perfil.can_delete_docs%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
    
    
                    <div class="col-layout">
            
                        <select class="perfil-input" name="view-docs" id="docs" required placeholder="">
                            {%if perfil.can_view_docs%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
                </div>
    
                <!-- EMPRESA -->
                <div id="perms-empresa" class="col-layout">
                    <input class="perfil-input-b" type="text" id="empresa" name="empresa" value="empresa" disabled>
    
                    <div class="col-layout">
                        
                        <select class="perfil-input" name="edit-empresa" id="empresa" required placeholder="">
                            {%if perfil.can_edit_empresas%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
    
    
                    <div class="col-layout">
                            
                        <select class="perfil-input" name="delete-empresa" id="empresa" required placeholder="">
                            {%if perfil.can_delete_empresas%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
    
    
                    <div class="col-layout">
            
                        <select class="perfil-input" name="view-empresa" id="empresa" required placeholder="">
                            {%if perfil.can_view_empresas%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
                    
                    <div class="col-layout">
                    
                        <select class="perfil-input" name="criar-empresa" id="empresa" required placeholder="">
                            {%if perfil.can_create_empresas%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
    
    
    
                </div>
    
                <!-- PERFIL -->
                <div id="perms-perfil" class="col-layout">
                    <input class="perfil-input-b" type="text" id="perfil" name="perfil" value="perfil" disabled>
    
                    <div class="col-layout">
                        
                        <select class="perfil-input" name="edit-perfil" id="perfil" required placeholder="">
                            {%if perfil.can_edit_perfis%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
    
                    <div class="col-layout">
                            
                        <select class="perfil-input" name="delete-perfil" id="perfil" required placeholder="">
                            {%if perfil.can_delete_perfis%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
    
    
                    <div class="col-layout">
            
                        <select class="perfil-input" name="view-perfil" id="perfil" required placeholder="">
                            {%if perfil.can_view_perfis%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
                    
                    <div class="col-layout">
                    
                        <select class="perfil-input" name="criar-perfil" id="perfil" required placeholder="">
                            {%if perfil.can_create_perfis%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
    
    
    
                </div>
    
                <!-- USER -->
                <div id="perms-user" class="col-layout">
                    <input class="perfil-input-b" type="text" id="user" name="user" value="user" disabled>
                    <div class="col-layout">
                        
                        <select class="perfil-input" name="edit-users" id="users" required placeholder="">
                            {%if perfil.can_edit_users%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
    
    
                    <div class="col-layout">
                            
                        <select class="perfil-input" name="delete-users" id="users" required placeholder="">
                            {%if perfil.can_delete_users%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
    
    
                    <div class="col-layout">
            
                        <select class="perfil-input" name="view-users" id="users" required placeholder="">
                            {%if perfil.can_view_users%}

                                <option value="1" selected>SIM</option>
                                <option value="0">NÂO</option>
                            {%else%}
                                <option value="1">SIM</option>
                                <option value="0" selected>NÂO</option>
                            {%endif%}
                        </select>
                    </div>
    
                </div>
            </div>

        </form>
        
        <div class="row-layout">
            {%if permissao.can_delete_perfis%}
            <button class="button" id="excluir-{{perfil._id}}" name="excluir">
                excluir
            </button>
            {%endif%}
        </div>
    </div>
</div>

<script>
    {%if not permissao.can_edit_perfis%}
    $('#data-perms-{{perfil._id}} select').prop('disabled', true);
    {%endif%}

    $("#alterar-{{perfil._id}}").click(() => {
        $("#nome").val("{{perfil.nome}}");

        //Adiciona sinal visual da alteração no menu
        $("#form_dados").addClass("ball");
        
        //Muda o id da perfil para realizar a alteração no item certo
        $("#_id").val("{{perfil._id}}");
    })

    $("#excluir-{{perfil._id}}").click(() => {
        let url = "/delete_perfil/" + "{{perfil._id}}";
        
        fetch(url).then(data => {
            data.text().then(text => {
                if (text.includes("ok"))
                {

                    showCustomAlert("Cadastro excluido com sucesso.");                
                } else {
                    showCustomAlert("Erro ao realizar exclusão: " + text);
                }
            })
        }).then(() => {
            fetch("/list_perfil").then(data => {
                data.text().then(text => {
                    setTimeout(() => {$("#perfil-list-content").html(text)}, 100)
                })
            })
        })
    })

    $("#data-perms-{{perfil._id}}").change(() => {

    let formData = $("#data-perms-{{perfil._id}}").serialize();
    
    formData = formData.concat(`&_id={{perfil._id}}`)

    $.ajax({
        type: "POST",
        url: "create_perfil", // Replace with your server endpoint
        data: formData,
        success: function(response) {
                showCustomAlert("Atualizado com sucesso!")
            },
                
            error: function(error) {
                showCustomAlert("Erro ao criar contrato: " + error)
            }
        });
    })
</script>
{%endfor%}
