<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentação</title>

    <link rel="stylesheet" href="../static/app.css">    
</head>
<body>
    <div class="container row-layout">        <div class="normal-container col-layout home-container home-separator login-bg">
            <div class="title-div col-layout">
                Documentação
            </div>
            <div class="logo-div col-layout">
                <img src="../static/imgs/logo.png" class="logo">
            </div>
        </div>
        
        <div class="normal-container col-layout home-container">
            <a href="/login" class="google-login-btn">
                <img src="https://upload.wikimedia.org/wikipedia/commons/archive/c/c1/20230822192910%21Google_%22G%22_logo.svg" alt="Google Icon">
                Login com Google
            </a>
        </div>
        <style>
            .google-login-btn:hover {
                background-color: #ffffff;
                color: #000000;
                border: 1px solid black;
            }
    
            .google-login-btn:focus {
                outline: none;
                box-shadow: 0 0 2px 2px rgba(36, 36, 36, 0.5);
            }

        </style>
    </div>
</body>
</html>
