<div class="col-layout">
    <div class="row-layout">
        <div class="flex-center key-box">
            <div class="key-box row-layout">
                {%if permissao.can_create_tipo_processo%}
                <form id="form_dados" name="form_dados">
                    <div class="row-layout">
                        
                        <input type="text" id="nome" name="nome" placeholder="descrição do tipo de processo">

                        <input type="hidden" id="_id" name="_id">
                    </div>
                </form>

                <div class="row-layout">
                    {%if permissao.can_create_tipo_processo%}
                    <button class="button" id="salvar" name="salvar">
                        salvar
                    </button>
                    {%endif%}
                </div>
                {%endif%}
            </div>
        </div>
    </div>

    <div class="key-box empresas-box">
        <div id="tipo-processo-list-content">
        </div>
    </div>
</div>

<script>
    //Carrega a lista de tipos de processo
    fetch("/list_tipo_processo").then(data => {
            data.text().then(text => {
            console.log(text)
            setTimeout(() => {$("#tipo-processo-list-content").html(text)}, 100);
                    
            })
        })

    // Filter functionality removed

    $("#salvar").click(() => {
    let nome = $("#nome").val();
    
    if(!nome) {
        showCustomAlert("Favor preecher todos os campos!")
    } else {
        let formData = $("#form_dados").serialize();
        formData["_id"] = $("#_id").val();
        
        $.ajax({
            type: "POST",
            url: "create_tipo_processo", // Replace with your server endpoint
            data: formData,
            success: function(response) {
                    // Display the result in the 'result' div
                    let url = `/list_tipo_processo/`
                    
                    fetch(url).then(data => {
                        data.text().then(text => {
                            setTimeout(() => {$("#tipo-processo-list-content").html(text)}, 100)
                        })
                    })
                    
                    showCustomAlert("Criado com sucesso!")

                    //Remove marcador de alteração
                    $("#form_dados").removeClass("ball");
                },
                        
                error: function(error) {
                    showCustomAlert("Erro ao criar contrato: " + error)
                }
            });  
    }
    })

</script>
