<div class="col-layout">
    <div class="row-layout">
        <div class="flex-center key-box">
            <div class="key-box row-layout">
                {%if permissao.can_create_perfis%}
                <form id="form_dados" name="form_dados">
                    <div class="row-layout">
                        
                        <input type="text" id="nome" name="nome" placeholder="Nome do perfil">

                        <input type="hidden" id="_id" name="_id">
                    </div>
                </form>

                <div class="row-layout">
                    <button class="button" id="salvar" name="salvar">
                        salvar
                    </button>
                </div>
                {%endif%}
            </div>
        </div>
    </div>

    <div class="key-box empresas-box" id="perfil-list-content">

    </div>
</div>

<script>
    //Carrega a lista de empresas
fetch("/list_perfil").then(data => {
        data.text().then(text => {
        setTimeout(() => {$("#perfil-list-content").html(text)}, 100);
                
        })
    })

    $("#content").on("keypress", (e) => {
        if(e.which == 13) {
        const url = "/list_perfil/" + $("#content").val();

        fetch(url).then(data => {
            data.text().then(text => {
            setTimeout(() => {$("#perfil-list-content").html(text)}, 100);
                
            })
        })
    }
})

    $("#salvar").click(() => {
    let nome = $("#nome").val();

    if(!nome) {
        showCustomAlert("Favor preecher todos os campos!")
    } else {
        let formData = $("#form_dados").serialize();
        formData["_id"] = $("#_id").val();
        
        $.ajax({
            type: "POST",
            url: "create_perfil", // Replace with your server endpoint
            data: formData,
            success: function(response) {
                    // Display the result in the 'result' div
                    let val = $("#content").val();
                    let url = `/list_perfil/${val}`
                    
                    fetch(url).then(data => {
                        data.text().then(text => {
                            setTimeout(() => {$("#perfil-list-content").html(text)}, 100)
                        })
                    })
                    
                    showCustomAlert("Criado com sucesso!")
                    //Remove marcador de alteração
                    $("#form_dados").removeClass("ball");
                },
                
                error: function(error) {
                    showCustomAlert("Erro ao criar contrato: " + error)
                }
            });
        }
    })

</script>
