<div class="col-layout container empresas-box-docs">
    <div class="row-layout">
        <div class="flex-center key-box">
            <div class="key-box row-layout">
                <form id="form_dados" name="form_dados">
                    <div class="row-layout">
                        <input type="text" id="nome" name="nome" placeholder="Nome da empresa">
                        <input type="text" id="cnpj" name="cnpj" placeholder="CNPJ">

                        <input type="hidden" id="_id" name="_id">
                    </div>
                </form>

                <div class="row-layout">
                    <button class="button" id="salvar" name="salvar">
                        salvar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="key-box empresas-box">

        <div id="subcontratados-list-content">
        </div>
    </div>
</div>

<script>
//Carrega a lista de funcionários
fetch("/list_subcontratados").then(data => {
    data.text().then(text => {
        setTimeout(() => {$("#subcontratados-list-content").html(text)}, 100);
    })
})    // Filter functionality removed

$("#salvar").click(() => {
    let nome = $("#nome").val();
    let cnpj = $("#cnpj").val();

    if(!nome || !cnpj) {
        showCustomAlert("Favor preencher todos os campos!")
    } else {
        let formData = $("#form_dados").serialize();
        formData["_id"] = $("#_id").val();
        
        $.ajax({
            type: "POST",
            url: "create_subcontratado",
            data: formData,
            success: function(response) {
                let url = `/list_subcontratados/`
                
                fetch(url).then(data => {
                    data.text().then(text => {
                        setTimeout(() => {
                            $("#subcontratados-list-content").html(text)
                        }, 100)
                    })
                })
                
                showCustomAlert("Cadastrado com sucesso!")
                
                //Remove marcador de alteração 
                $("#form_dados").removeClass("ball");

                //Clear form
                $("#nome").val("");
                $("#cnpj").val("");
            },
            
            //Caso ocorra erro na requisição
            error: function(error) {
                showCustomAlert("Erro ao cadastrar subcontratado: " + error)
            }
        });  
    }
})

</script>
