<div class="flex-center col-layout">
    <div class="key-box row-layout">
        <div class="flex-center key-box">
            <div class="key-box row-layout">
                {%if permissao.can_create_dados%}
                <form id="form_dados" name="form_dados" class="key-box">
                    <div class="row-layout">

                        <select name="categoria" id="categoria" required placeholder="" multiple>
                            {%for t_processo in tipos_processos%}
                            <optgroup label="{{t_processo.nome}}">
                                {%for categoria in t_processo.categorias%}
                                    <option value="{{categoria._id}}">-> {{categoria.nome}}</option>
                                {%endfor%}
                            </optgroup>
                            {%endfor%}
                        </select>
                        
                        <select name="perfil" id="perfil" required placeholder="" size="4">
                            {%for perfil in perfis%}
                            <option value="{{perfil._id}}">{{perfil.nome}}</option>
                            {%endfor%}
                        </select>
                        
                        <input type="text" id="drive" name="drive" placeholder="Pasta do drive do departamento">
                        
                        <input type="hidden" id="_id" name="_id">
                    </div>
                </form>
                

                <div class="row-layout">
                    <button class="button" id="salvar" name="salvar">
                        salvar
                    </button>
                </div>
                {%endif%}
            </div>
        </div>
    </div>

    <div class="key-box empresas-box">
        <div class="key-box row-layout data-names">
            <div class="row-layout">
                <input type="text" value="CATEGORIA:" disabled>
                <input type="text" value="PERFIL:" disabled>
                <input type="text" value="PASTA DRIVE:" disabled>
            </div>
    
            <div class="row-layout">
            </div>
        </div>

        <div id="cubo-list-content">

        </div>
    </div>
</div>

<script>


//Carrega a lista de CUBOS
fetch("/list_cubo").then(data => {
        data.text().then(text => {
        setTimeout(() => {$("#cubo-list-content").html(text)}, 100);
        
        })
    })

    $("#content").on("keypress", (e) => {
        if(e.which == 13) {
        const url = "/list_cubo/" + $("#content").val();

        fetch(url).then(data => {
            data.text().then(text => {
            setTimeout(() => {$("#cubo-list-content").html(text)}, 100);
        
        })
    })
    }
})


    $("#salvar").click(() => {
    let categoria = $("#categoria").val();
    let perfil = $("#perfil").val();
    let drive = $("#drive").val();
    
    if(!categoria || !drive || !perfil) {
        showCustomAlert("Favor preecher todos os campos!")
    } else {
        let formData = $("#form_dados").serialize();
        formData = formData + "&categorias=" + JSON.stringify(categoria);
        
        console.log(formData);
        formData["_id"] = $("#_id").val();
        
        $.ajax({
            type: "POST",
            url: "create_cubo", // Replace with your server endpoint
            data: formData,
            success: function(response) {
                    // Display the result in the 'result' div
                    let val = $("#content").val();
                    let url = `/list_cubo/${val}`
                    
                    fetch(url).then(data => {
                        data.text().then(text => {
                            setTimeout(() => {$("#cubo-list-content").html(text)}, 100)
                        })
                    })

                    if (response === "ok") {
                        showCustomAlert("Criado com sucesso!")
                    } else {
                        showCustomAlert(response)
                    }
                    
                    //Remove marcador de alteração
                    $("#form_dados").removeClass("ball");
                },
                        
                error: function(error) {
                    showCustomAlert("Erro ao criar cubo: " + error)
                }
            });  
    }
    })
</script>

<style>
    .file-tag {
        display: inline-block;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px 10px;
        margin: 5px;
        font-size: 12px;
    }
</style>