<div class="col-layout">
    <div class="row-layout">
        <div class="flex-center key-box">
            <div class="key-box row-layout">
                {%if permissao.can_create_categorias%}
                <form id="form_dados" name="form_dados">
                    <div class="row-layout">
                        
                        <input type="text" id="nome" name="nome" placeholder="descrição da categoria">
                        
                        <select name="tipo_processo" id="tipo_processo">
                            {%for tipo_processo in tipos_processos%}
                                <option value="{{tipo_processo._id}}">{{tipo_processo.nome}}</option>
                            {%endfor%}
                        </select>

                        
                        <input type="text" id="docs_precisos_input" name="docs_precisos_input" id="docs_precisos_input" placeholder="digite o nome do documento necessário e precione enter">
                        <input type="hidden" id="docs_precisos" name="docs_precisos">

                        <div id="tags" style="display: flex;">
                                                                                   
                        </div>

                        <input type="hidden" id="_id" name="_id">
                    </div>
                </form>

                <div class="row-layout">
                    <button class="button" id="salvar" name="salvar">
                        salvar
    
                    </button>
                </div>
                {%endif%}
                
            </div>
        </div>
    </div>

    <div class="key-box empresas-box">

        <div id="categoria-list-content">
        </div>
    </div>
</div>

<script>
    var tags = []

    //Carrega a lista de empresas
    fetch("/list_categorias").then(data => {
            data.text().then(text => {
            setTimeout(() => {$("#categoria-list-content").html(text)}, 100);
                    
            })
        })
    
    function removeTag(index) {
        tags.splice(index, 1);

        let i = 0;

        $("#tags").html("");
        tags.forEach(tag => {
            if (tag.trim() !== "") {
                   $("#tags").append(`<div class="tag-item" onclick="removeTag(${i})">${tag}</div>`);
            }
            i += 1;
        });
    }
    
    $("#docs_precisos_input").on("keypress", (e) => {
        if(e.which == 13) {
            let nome = $("#docs_precisos_input").val();
            tags.push(nome.toUpperCase())
            $("#docs_precisos_input").val("");
            
            let i = 0;

            $("#tags").html("");
            tags.forEach(tag => {
                if (tag.trim() !== "") {
                    $("#tags").append(`<div class="tag-item" onclick="removeTag(${i})">${tag}</div>`);
                }
                i += 1;
            })
        }
    })


    // Filter functionality removed

    $("#salvar").click(() => {
    let nome = $("#nome").val();
    let tipo_processo = $("#tipo_processo").val();
    
    $("#docs_precisos").val(tags.join(','));
    
    if(!nome || !tipo_processo || !tags.length) {
        showCustomAlert("Favor preecher todos os campos!")
    } else {
        let formData = $("#form_dados").serialize();
        formData["_id"] = $("#_id").val();
        
        $.ajax({
            type: "POST",
            url: "create_categoria", // Replace with your server endpoint
            data: formData,
            success: function(response) {
                    // Display the result in the 'result' div
                    let url = `/list_categorias/`
                    
                    fetch(url).then(data => {
                        data.text().then(text => {
                            setTimeout(() => {$("#categoria-list-content").html(text)}, 100)
                        })
                    })
                    
                    showCustomAlert("Criado com sucesso!")
                    
                    //Remove marcador de alteração
                    $("#form_dados").removeClass("ball");
                },
                
                error: function(error) {
                    showCustomAlert("Erro ao criar contrato: " + error)
                }
            });  
    }
    })

</script>
