<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentação Acessoria: Upload</title>
    <link rel="stylesheet" href="../static/app.css">
</head>
<body>
    <div class="main-container">
        <div class="normal-container upload-container col-layout">
            <div class="input-title badge">
                DOCUMENTAÇÂO ACESSORIA
            </div>
            
            <div class="container form-container">
                <form method="post" name="form-upload" id="form-upload" enctype="multipart/form-data" style="align-items: normal;flex-direction: column;">
                    <input type="text" id="titulo" name="titulo" required placeholder="Descrição">
                    
                    <span>
                        CONTRATO:
                    </span>
                    <select name="contrato" id="contrato" required placeholder="" style="width: auto;">
                        {%for contrato in contratos%}
                        <option value="{{contrato._id}}">{{contrato.nome}}</option>
                        {%endfor%}
                    </select>
                    
                    <span>
                        TIPO DE DOCUMENTO:
                    </span>
                    <select name="categoria" id="categoria" required placeholder="" style="width: auto;">
                        {%for categoria in categorias%}
                        <option value="{{categoria._id}}">{{categoria.nome}}</option>
                        {%endfor%}
                    </select>
                    
                    <input type="datetime-local" id="data" name="data" required>
                    
                    <span>
                        SELECIONE UM OU VARIOS ARQUIVOS:
                    </span>
                    <!-- Container to display selected files as tags -->
                    <div id="file-tags-container" ></div>
                    
                    <input type="file" id="anexo" name="anexo" accept=".pdf" multiple required>
                </form>
                
                <div class="flex-center" style="width: 100%;">
                    <button id="make-upload" class="button">
                        Enviar Documento
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Importa a lib JQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../static/scripts.js"></script>
    
    <script>
        // Function to display selected files as tags
        function updateFileTags(files) {
            const container = $("#file-tags-container");
            container.empty(); // Clear previous tags
            Array.from(files).forEach(file => {
                const tag = $("<span>").text(file.name).addClass("file-tag");
                container.append(tag);
            });
        }

        $("#anexo").on("change", function() {
            const files = this.files;
            updateFileTags(files);
        });

        $("#make-upload").click(() => {
            // Perform client-side validation
            let titulo = $("#titulo").val();
            let contrato = $("#contrato").val();
            let categoria = $("#categoria").val();
            let data = $("#data").val();
            let files = $("#anexo")[0].files; // Get the files

            if (!titulo || !contrato || !categoria || !data || files.length === 0) {
                showCustomAlert("Por favor, preencha todos os campos.");
                return;
            }
            
            // If validation passes, proceed with form submission
            let formData = new FormData();
            formData.append("titulo", titulo);
            formData.append("contrato", contrato);
            formData.append("categoria", categoria);
            formData.append("data", data);
            Array.from(files).forEach(file => {
                formData.append("anexo", file);
            });

            // Submit the form using AJAX
            $.ajax({
                type: "POST",
                url: "upload_file_action", // Replace with your server endpoint
                data: formData,
                processData: false, // Prevent jQuery from processing the data
                contentType: false, // Prevent jQuery from setting the content type
                
                success: function(response) {
                    showCustomAlert("Documentação enviada com sucesso.");
                },
                
                error: function(error) {
                    showCustomAlert("Erro ao enviar documentação.");
                }
            });
        });
    </script>
    <style>
        .file-tag {
            display: inline-block;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 5px 10px;
            margin: 5px;
            font-size: 12px;
        }
    </style>
</body>
</html>